<!-- Footer -->
<footer class="p-3 text-muted text-center text-small bg-light">
    <p class="mb-1">&copy; 2020 Koronavirus.uz</p>
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="https://telegram.me/ulugbeksamigjonov" target="_blank">
          <i class="fa fa-telegram"></i> Telegram
        </a>
    </li>
      <li class="list-inline-item">
        <a href="https://instagram.com/ulugbeksamigjonov" target="_blank">
          <i class="fa fa-instagram"></i> Instagram
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.youtube.com/ulugbeksamigjonov" target="_blank">
          <i class="fa fa-youtube"></i> Youtube
        </a>
    </li>
    </ul>
  </footer>
  <!-- /Footer -->