<!-- Countries statistics -->
<div class="row">
    <div class="col">
        <h2 class="text-center">Davlatlar bo'yicha statistika</h2>
        <table class="table table-bordered table-responsive">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Davlat</th>
              <th scope="col">Umumiy</th>
              <th scope="col">Yangi</th>
              <th scope="col">Umumiy vafot etganlar</th>
              <th scope="col">Yangi vafot etganlar</th>
              <th scope="col">Aktiv holatlar</th>
              <th scope="col">Umumiy tuzalganlar</th>
              <th scope="col">Jiddiy holatdagilar</th>
              <th scope="col">Umumiy / 1M aholi</th>
              <th scope="col">Vafot etganlar / 1M aholi</th>
              <th scope="col">Umumiy testlar</th>
              <th scope="col">Umumiy testlar / 1M aholi</th>
              <th scope="col">Aholi</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>USA</td>
              <td>24,104,425</td>
              <td>+1,996</td>
              <td>401,868</td>
              <td>+12</td>
              <td>14,230,437</td>
              <td>9,472,120</td>
              <td>28,938</td>
              <td>72,592</td>
              <td>1,210</td>
              <td>281,813,206</td>
              <td>848,693</td>
              <td>332,055,650</td>
            </tr>
          </tbody>
        </table>
    </div>
</div>
<!-- /Countries statistics -->