<!-- Countries statistics -->
<div class="row">
    <div class="col">
        <h2 class="text-center">Davlatlar bo'yicha statistika</h2>
        <table class="table table-bordered table-responsive">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Davlat</th>
              <th scope="col">Umumiy</th>
              <th scope="col">Yangi</th>
              <th scope="col">Umumiy vafot etganlar</th>
              <th scope="col">Yangi vafot etganlar</th>
              <th scope="col">Aktiv holatlar</th>
              <th scope="col">Umumiy tuzalganlar</th>
              <th scope="col">Jiddiy holatdagilar</th>
              <th scope="col">Umumiy / 1M aholi</th>
              <th scope="col">Vafot etganlar / 1M aholi</th>
              <th scope="col">Umumiy testlar</th>
              <th scope="col">Umumiy testlar / 1M aholi</th>
              <th scope="col">Aholi</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let countryStatistic of countriesStatistics; let i = index;">
              <th scope="row">{{ i + 1 }}</th>
              <td>
                <a href="#">
                  {{countryStatistic.country}}
                </a>
              </td>
              <td>{{countryStatistic.cases | number }}</td>
              <td [ngClass]="{'bg-warning': countryStatistic.todayCases > 0}">
                {{
                  countryStatistic.todayCases > 0 ? ('+' + countryStatistic.todayCases) : ''
                }}
              </td>
              <td>{{countryStatistic.deaths | number }}</td>
              <td [ngClass]="{'bg-danger': countryStatistic.todayDeaths > 0}">
                {{countryStatistic.todayDeaths > 0 ? ('+' + countryStatistic.todayDeaths) : ''}}
              </td>
              <td>{{countryStatistic.active | number }}</td>
              <td>{{countryStatistic.recovered | number }}</td>
              <td>{{countryStatistic.critical | number }}</td>
              <td>{{countryStatistic.casesPerOneMillion | number }}</td>
              <td>{{countryStatistic.casesPerOneMillion | number }}</td>
              <td>{{countryStatistic.tests | number }}</td>
              <td>{{countryStatistic.testsPerOneMillion | number }}</td>
              <td class="text-info">{{countryStatistic.population | number }}</td>
            </tr>
          </tbody>
        </table>
    </div>
</div>
<!-- /Countries statistics -->