<div class="row">
    <div class="col text-center" *ngIf="countryStatistics">
        <h1>
            <img [src]="countryStatistics.countryInfo.flag" alt="Country image" class="country-flag">
            {{countryStatistics.country}}
        </h1>
        <hr>
        <h2>Tasdiqlangan holatlar:</h2>
        <h1 class="text-warning">
            {{countryStatistics.cases | number}}
        </h1>
        <h2>Vafot etganlar:</h2>
        <h1 class="text-danger">
            {{countryStatistics.deaths | number}}
        </h1>
        <h2>Tuzalganlar</h2>
        <h1 class="text-success">
            {{countryStatistics.recovered | number}}
        </h1>
    </div>
</div>