<!-- Info -->
<div class="row">
    <div class="col">
      <div class="alert alert-info text-center" role="alert">
        <b>
          <i class="fa fa-bar-chart"></i>
          Koronavirus bo'yicha to'liq statistikani bizni saytimizdan oling
        </b>
      </div>
    </div>
</div>
<!-- /Info -->

<!-- Update time -->
<div class="row">
    <div class="col">
        <p class="text-info text-center">
            <i class="fa fa-clock-o"></i> Qayta yuklangan vaqti: {{updateTime | date: 'medium'}}
        </p>
    </div>
</div>
<!-- /Update time -->

<!-- Test -->

<!-- Main statistics -->
<div class="row">
    <div class="col text-center">
        <h2>Jami tasdiqlangan: </h2>
        <h1 class="text-warning">
            {{ totalCases | number }}
        </h1>
        <h2>Vafot etganlar: </h2>
        <h1 class="text-danger">
            {{ totalDeath  | number }}
        </h1>
        <h2>Tuzalganlar: </h2>
        <h1 class="text-success">
            {{ totalRecovered  | number }}
        </h1>
    </div>
</div>
<!-- /Main statistics -->